:root{
    --primary-color: hsla(270, 4%, 9%, 1);
    --text-color: hsla(0, 0%, 100%, 1);
    --gray-primary: #bdbdbd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 30px 80px;
    background-color: var(--primary-color);
}

header > a{
    position: relative;
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Crimson Pro', sans-serif;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--text-color);
    background-color: transparent;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Montserrat' sans-serif;
    color: var(--text-color);
    text-decoration: none;
    transition: 250ms bottom ease-in-out;
}

header nav ul li a:hover, a.active{
    border-bottom: 2px solid var(--text-color);
}

.menu-toggle{
    display: none;
}

/* main section */

.container{
    display: flex;
    width: 100%;
    /* height: calc(100vh - 70px); */
    height: auto;
    padding: 50px 80px;
    align-items: center;
    background-color: var(--primary-color);
}

.description-box{
    width: 40%;
    color: var(--text-color);
}

.description-box h2{
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Lora', sans-serif;
    line-height: 6rem;
}

.description-box p{
    width: 60%;
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 3rem;
}

.description-box a{
    display: block;
    margin-top: 40px;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    line-height: 2rem;
    text-decoration: none;
}

.description-box a i{
    margin-left: 10px;
}

.photo-box{
    position: relative;
    width: 80rem;
    height: 50rem;
    padding: 0 auto;
    background-image: url('../img/photo1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.info-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -40px;
    right: 100px;
    width: 40%;
    padding: 10px;
    color: var(--text-color);
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.info__author{
    display: flex;
}

.info__author img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.info__author p{
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.info__author p span{
    font-size: 1rem;
    font-weight: 500;
}

.info__design{
    margin-top: 10px;
    padding: 5px;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Lora', sans-serif;
}

/* footer */

footer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: var(--gray-primary);
    transform: translateX(-50%);
}

footer a{
    color: var(--gray-primary);
    text-decoration: none;
}


@media (max-width: 990px) {

    header{
        padding: 20px;
    }

    header nav{
        position: absolute;
        top: 72px;
        left: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: calc(100vh - 70px);
        background-color: var(--primary-color);
        transition: 250ms left ease-in-out;
        z-index: 99;
    }

    header nav.active{
        left: 0;
    }

    header nav ul{
        display: block;
        text-align: center;
    }

    header nav ul li{
        display: block;
        padding: 30px 0;
    }
    
    .menu-toggle{
        display: block;
        font-size: 1.6rem;
        color: var(--text-color);
        cursor: pointer;
    }

    .container{
        height: auto;
        padding: 50px 20px;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }
    
    .description-box{
        width: 100%;
    }

    .photo-box{
        width: 100%;
        height: 50vh;
        margin-top: 50px;
    }

    .info-box{
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    footer{
        bottom: 0;
    }

}